<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand text-light" href="#" routerLink="/">Foundry</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="activeContract$ | async as activeContract">
        <div class="btn-group" dropdown>
          <button
            id="button-animated"
            dropdownToggle
            type="button"
            class="btn btn-light dropdown-toggle"
            aria-controls="dropdown-animated"
          >
            {{ activeContract.display_name }}
          </button>
          <ul
            id="dropdown-animated"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-animated"
          >
            <li role="menuitem" *ngFor="let contract of contracts$ | async">
              <a class="dropdown-item" (click)="changeContract(contract)">
                {{ contract.display_name }}
              </a>
            </li>
          </ul>
        </div>
      </ng-container>
    </ul>
    <div class="my-2 my-lg-0">
      <span></span>
      <button (click)="toggleWallet()" class="btn btn-light btn-rounded mr-3">
        <ng-container *ngIf="username$ | async as username; else connectButton">
          <img src="/assets/img/identity.svg" class="mr-2" />
          <span> {{ username }} </span>
        </ng-container>
        <ng-template #connectButton> Connect Wallet </ng-template>
      </button>

      <button
        *ngIf="(sessionUser$ | async) !== undefined"
        class="btn btn-light btn-rounded"
        routerLink="/settings"
      >
        <img src="/assets/img/settings.svg" />
      </button>
    </div>
  </div>
</nav>
