<ng-container *ngIf="operationRequest">
  <div class="m-0">
    <ng-container *ngIf="operationRequest.description !== null" class="m-0">
      <p class="m-0">
        <strong style="white-space: pre">{{
          operationRequest.description
        }}</strong>
      </p>
    </ng-container>
  </div>
  <div class="row py-3 align-items-center">
    <div class="col col-md-6">
      <ng-container *ngIf="operationRequest.threshold !== null">
        <p class="m-0">
          <strong>Threshold</strong>
        </p>
        <h5>
          <span>{{ operationRequest.threshold }}</span>
        </h5>
      </ng-container>

      <ng-container *ngIf="operationRequest.proposed_signers !== null">
        <p class="mb-0"><strong>Signers</strong></p>
        <div class="pb-3">
          <p
            *ngFor="let proposed of operationRequest.proposed_signers"
            class="text-muted m-0"
          >
            {{
              proposed.display_name.length > 0
                ? proposed.display_name
                : (proposed.address | shorten)
            }}
          </p>
        </div>
      </ng-container>
      <strong>Requester</strong>
      <p *ngIf="operationRequest.user.display_name.length > 0" class="m-0">
        {{ operationRequest.user.display_name }}
      </p>
      <p class="text-muted m-0">
        {{ operationRequest.user.address | shorten }}
      </p>
      <ng-container
        *ngIf="
          operationRequest.state === 'injected' &&
          operationRequest.operation_hash !== null
        "
      >
        <p class="text-muted m-0 d-flex align-items-center">
          {{ operationRequest.operation_hash | shorten }}
          <a
            class="btn btn-sm btn-icon btn-light rounded-circle ml-2"
            (click)="copyToClipboard(operationRequest.operation_hash)"
          >
            <img src="/assets/img/copy.svg" />
          </a>
        </p>
      </ng-container>
    </div>
    <div class="col col-md-6">
      <p class="text-right m-0">
        {{ operationRequest.created_at | date: 'dd.MM.yy' }}
      </p>
      <p class="text-right text-muted m-0">
        {{ operationRequest.created_at | date: 'HH:mm' }}
      </p>
      <p class="text-right text-muted m-0">#{{ operationRequest.counter }}</p>
    </div>
  </div>
  <p
    class="text-muted"
    *ngIf="
      operationRequest.counter > (contractCounter$ | async) &&
      operationRequest.state === 'approved' &&
      (isGatekeeper$ | async)
    "
  >
    This request can only be handled after the previous requests are completed.
  </p>
  <div
    class="d-flex justify-content-between align-items-center btn--container__more pb-3"
  >
    <p class="m-0">
      <strong>
        {{ operationRequest.operation_approvals.length }}/{{
          operationRequest.state !== 'injected'
            ? (contract$ | async).min_approvals
            : operationRequest.operation_approvals.length
        }}
        Confirmations
      </strong>
    </p>
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-link">
        <img src="/assets/img/three-dot.svg" height="18px" />
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-right"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a class="dropdown-item" (click)="delete()">Delete request</a>
        </li>
        <li
          role="menuitem"
          *ngIf="
            operationRequest.state === 'approved' &&
            operationRequest.counter < (contractCounter$ | async)
          "
        >
          <a class="dropdown-item">Confirm injection</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="signature--container">
    <app-multi-signature-item
      *ngFor="let multisigItem of multisigItems$ | async"
      [multisigItem]="multisigItem"
    ></app-multi-signature-item>
  </div>
  <div class="pt-3">
    <div class="row">
      <div class="col pb-1">
        <button
          *ngIf="
            !(currentUserApproved$ | async) &&
            operationRequest.state === 'open' &&
            (isSigner$ | async)
          "
          type="button"
          class="btn btn-primary btn-block"
          (click)="approveOperationRequest()"
        >
          Approve Request
        </button>
      </div>
      <div class="col pb-1">
        <button
          *ngIf="
            operationRequest.state === 'open' &&
            ((isSigner$ | async) || (isGatekeeper$ | async))
          "
          type="button"
          class="btn btn-primary btn-block"
          (click)="openModal(true)"
        >
          Upload Signature
        </button>
      </div>
      <div class="col-md-2 pl-0 pb-1">
        <button
          type="button"
          class="btn btn-light btn-block"
          (click)="openModal()"
        >
          <img src="/assets/img/info-circle.svg" width="18px" />
        </button>
      </div>
    </div>

    <button
      *ngIf="
        operationRequest.counter === (contractCounter$ | async) &&
        operationRequest.state === 'approved' &&
        ((isSigner$ | async) || (isGatekeeper$ | async))
      "
      type="button"
      class="btn btn-primary btn-block"
      (click)="submitOperation()"
    >
      Submit Operation
    </button>
  </div>
  <hr />
</ng-container>
