<div class="card" *ngIf="activeContract$ | async as activeContract">
  <div class="card-body">
    <div>
      <tabset *ngIf="selectedTab$ | async as selectedTab">
        <tab
          heading="Transfer"
          id="tab-transfer"
          [active]="selectedTab === 'tab-transfer'"
          (selectTab)="onSelect($event)"
        >
          <div class="my-5">
            <label>Receiving Address</label>
            <div class="form-group mb-3">
              <input
                [formControl]="receivingAddressControl"
                type="text"
                class="form-control"
                placeholder="tz1.."
                aria-label="Address"
                [ngClass]="{
                  'is-invalid':
                    receivingAddressControl.errors &&
                    (receivingAddressControl.touched ||
                      receivingAddressControl.dirty)
                }"
              />
              <div class="invalid-feedback px-3 py-2 px-3 py-2">
                <strong>Invalid Address</strong>
              </div>
            </div>
            <label class="d-flex justify-content-between"
              >Amount
              <span *ngIf="balance$ | async as balance"
                >Balance:
                {{
                  balance
                    | amountConverter
                      : {
                          decimals: 2,
                          symbol: '$'
                        }
                    | async
                }}
              </span>
            </label>
            <div class="input-group">
              <!-- <div class="input-group-prepend">
                <span class="input-group-text">
                  <img
                    width="32px"
                    height="32px"
                    [src]="activeContractImagePath$ | async"
                    class="mr-2"
                  />
                  {{ activeContract.symbol }}
                </span>
              </div> -->
              <input
                [formControl]="amountTransferControl"
                type="text"
                class="form-control"
                placeholder="0.0"
                aria-label="Amount"
                [ngClass]="{
                  'is-invalid':
                    amountTransferControl.errors &&
                    (amountTransferControl.touched ||
                      amountTransferControl.dirty)
                }"
              />
              <span class="input-group-prepend">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="setTransferMaxValue()"
                >
                  Max
                </button>
              </span>
              <div class="invalid-feedback px-3 py-2">
                <strong>Invalid Amount</strong>
              </div>
            </div>
          </div>

          <ng-container *ngIf="address$ | async as address; else connectButton">
            <button
              type="button"
              class="btn btn-primary btn-block"
              (click)="transfer()"
              [disabled]="
                amountTransferControl.invalid && receivingAddressControl.invalid
              "
            >
              Transfer
            </button>
          </ng-container>

          <ng-template #connectButton>
            <button
              type="button"
              class="btn btn-primary btn-block"
              (click)="connectWallet()"
            >
              Connect Wallet
            </button>
          </ng-template>
        </tab>
        <tab
          heading="Operation"
          id="tab-operation"
          [active]="selectedTab === 'tab-operation'"
          (selectTab)="onSelect($event)"
        >
          <div class="my-5">
            <label>Lambda</label>

            <div class="mb-3">
              <label>Enter Michelson Lambda reprepsenting the operation</label>
              <div class="input-group input-group__two-items">
                <!-- <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img
                      width="32px"
                      height="32px"
                      [src]="activeContractImagePath$ | async"
                      class="mr-2"
                    />
                    {{ activeContract.symbol }}
                  </span>
                </div> -->
                <textarea
                  [formControl]="lambdaControl"
                  type="text"
                  class="form-control"
                  placeholder="[]"
                  aria-label="Amount"
                  [ngClass]="{
                    'is-invalid':
                      lambdaControl.errors &&
                      (lambdaControl.touched || lambdaControl.dirty)
                  }"
                ></textarea>
                <div class="invalid-feedback px-3 py-2">
                  <strong>Invalid lambda</strong>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label>Expected ledger hash (optional)</label>
              <div class="input-group input-group__two-items">
                <input
                  [formControl]="ledgerHashControl"
                  type="text"
                  class="form-control"
                  aria-label="Ledger Hash"
                  [ngClass]="{
                    'is-invalid':
                      ledgerHashControl.errors &&
                      (ledgerHashControl.touched || ledgerHashControl.dirty)
                  }"
                />
                <div class="invalid-feedback px-3 py-2">
                  <strong>Invalid ledger hash</strong>
                </div>
              </div>
            </div>
          </div>

          <ng-container *ngIf="address$ | async as address; else connectButton">
            <button
              type="button"
              class="btn btn-primary btn-block"
              (click)="operation()"
              [disabled]="
                lambdaControl.invalid ||
                (busyOpeartionRequests$ | async) ||
                (!(isGatekeeper$ | async) && !(isSigner$ | async)) ||
                !formGroup.valid
              "
            >
              <ng-container *ngIf="busyOpeartionRequests$ | async"
                ><span
                  class="spinner-border spinner-border-sm mr-1"
                  role="status"
                  aria-hidden="true"
                ></span>
              </ng-container>
              Request Operation
            </button>
          </ng-container>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<ng-container
  *ngIf="{
    isGatekeeper: isGatekeeper$ | async,
    isSigner: isSigner$ | async
  } as userType"
>
  <ng-container
    *ngIf="
      (userType.isGatekeeper || userType.isSigner) &&
      (selectedTab$ | async) === 'tab-operation'
    "
  >
    <operation-request-group
      name="Operation"
      [kind]="'operation'"
      [openOperationRequestList]="openOperationRequests$ | async"
      [approvedOperationRequestList]="approvedOperationRequests$ | async"
      [injectedOperationRequestList]="injectedOperationRequests$ | async"
    >
    </operation-request-group>
  </ng-container>
</ng-container>
